/**
 * Baloise theme for reveal.js.
 *
 */
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600);
@font-face {
  font-family: "MetaPro";
  src: url("font/MetaPro-Normal.eot?") format("eot"), url("../font/MetaPro-Normal.woff") format("woff"), url("../font/MetaPro-Normal.ttf") format("truetype"); }

img {
  border: none !important;
  box-shadow: none !important; }

figure img {
  margin-bottom: 0 !important; }

figure figcaption {
  font-size: 0.5em !important;
  margin-top: -10px !important; }

.window-background .present {
  background-position-y: 0.5em; }

.reveal .about {
  display: inline-block;
  width: 320px;
  padding: 10px 0;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 40px; }
  .reveal .about h3 {
    margin: 0 !important;
    font-size: 0.8em;
    color: #ffffff !important; }
    .reveal .about h3 img {
      margin: 0; }
  .reveal .about a {
    font-size: 0.8em; }
  .reveal .about:first-child {
    margin-left: 0; }

.reveal .slides > section {
  padding: 0; }

.reveal h1, .reveal h2 {
  font-weight: 800 !important; }

.reveal h2 {
  margin-bottom: 0.8em !important;
  line-height: 1em !important; }
  .reveal h2 code {
    font-weight: normal;
    background: transparent; }
  .reveal h2 span.image-heading {
    background: black;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-size: 1.5em;
    color: #ffffff !important; }

.reveal section img {
  background: none !important; }

.reveal p {
  line-height: 1.4em;
  margin-bottom: 1em; }

.reveal ul, .reveal ol {
  margin-top: 0.5em !important;
  margin-bottom: 1em; }

.reveal li {
  margin-top: 0.8em; }
  .reveal li:first-child {
    margin-top: 0; }

.reveal pre {
  box-shadow: none !important;
  font-size: 0.7em !important;
  word-wrap: normal !important; }
  .reveal pre code {
    padding: 0.4em !important;
    max-height: none !important; }
  .reveal pre .keyword {
    color: #ff9900; }
  .reveal pre .tag, .reveal pre .literal,
  .reveal pre .apache .tag {
    color: #3B7586; }
  .reveal pre .variable {
    color: #666; }
  .reveal pre .string {
    color: #B66666; }
  .reveal pre .title {
    color: #3B7586; }

.reveal .bv-slide img {
  opacity: 0.4; }
  .reveal .bv-slide img:first-child {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.reveal .deck-slide {
  text-align: center; }
  .reveal .deck-slide h1 {
    font-size: 1.4em;
    position: relative;
    margin-top: 30px; }
    .reveal .deck-slide h1 span.image-heading {
      background: black;
      background: rgba(0, 0, 0, 0.7);
      padding: 10px;
      color: #ffffff !important; }
    .reveal .deck-slide h1 span.questions {
      font-size: 1.8em; }
  .reveal .deck-slide .deck-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: yellow;
    width: 100%; }
  .reveal .deck-slide h2 {
    font-size: 0.7em;
    margin-top: 75px; }
    .reveal .deck-slide h2.major {
      margin-top: 120px; }
    .reveal .deck-slide h2.minor {
      margin-top: 50px; }
    .reveal .deck-slide h2 span.sub-header {
      background: black;
      background: rgba(0, 0, 0, 0.7);
      padding: 10px;
      font-size: 1.1em;
      color: #ffffff !important; }
  .reveal .deck-slide h5 span.header {
    position: fixed;
    display: block;
    top: 8px;
    font-size: 0.6em;
    right: 8px;
    z-index: 31;
    background: black;
    background: rgba(0, 0, 0, 0.7);
    padding: 6px;
    color: #ffffff !important; }
  .reveal .deck-slide .logo {
    position: fixed;
    display: block;
    z-index: 31;
    height: 80px;
    background-position: 0% 100%;
    bottom: 8px;
    background-repeat: no-repeat; }
    .reveal .deck-slide .logo.baloise {
      background-size: 170px;
      right: 8px;
      height: 120px;
      width: 170px;
      background-image: url("/img/baloise_logo.png"), url("/talk-cicd-javascript/img/baloise_logo.png"); }
    .reveal .deck-slide .logo.baselone {
      background-size: 240px;
      width: 240px;
      height: 120px;
      left: 8px;
      background-image: url("/img/baselone.png"), url("/talk-cicd-javascript/img/baselone.png"); }

.reveal .img-slide h2 {
  display: inline-block;
  margin-top: 5em;
  margin-left: -4em;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5em; }

.reveal .progress {
  height: 0.25em; }

.reveal .warn {
  color: #ff3366; }

.reveal .code {
  background: rgba(236, 239, 241, 0.56);
  border-radius: 2px;
  color: #00796B !important;
  padding: 0 4px;
  font-size: 90%; }

.print-pdf .sub-section-slide h2 {
  opacity: 1; }

.print-pdf .reveal.none .slides section.sub-section-slide {
  padding-top: 350px !important; }

.print-pdf .reveal.none .slides section.deck-slide {
  padding-top: 0 !important; }

table tbody th {
  background: rgba(236, 239, 241, 0.24);
  border-right: 1px solid #ECEFF1;
  font-weight: 400;
  border-bottom: 1px solid #ECEFF1;
  padding: 16px 32px;
  text-align: left; }

table tbody td {
  border-bottom: 1px solid #ECEFF1;
  padding: 16px 32px;
  text-align: left; }

.tab {
  display: none;
  margin-top: -0.35em !important; }
  .tab.active {
    display: block; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #f0fbff;
  background-color: #f0fbff; }

.reveal {
  font-family: "MetaPro", sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #222222; }

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #008AC9;
  font-family: "MetaPro", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.2em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #ff9900;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #ffc266;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #b36b00; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ff9900;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #ff9900; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #ff9900; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #ff9900; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #ff9900; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #ffc266; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #ffc266; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #ffc266; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #ffc266; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #ff9900;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
